extends layout.jade

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}

    h1 Down Stream Adventures
  
    button(type="subversion")
      a(href='/albums/home') Customer Portal
    button(type="subversion")  
      a(href='/albums') Guideline
    button(type="taco")  
      a(href="/logout") Logout











