extends layout.jade

block content
  if (!username)
   button(type="fancy")
    a(href="/signin") Login
    br
   button(type="fancier")
    a(href="/login") Register
  if (username)
    p You are currently logged in as #{username}

    h1 Down Stream Adventures
  
    button(type="subversion")
      a(href='/home') Customer Portal
    button(type="subversion")  
      a(href='/albums') Guideline
    button(type="taco")  
      a(href="/logout") Logout











