doctype html
html
  head
    title= title
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap-3.3.5-dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap-3.3.5-dist/css/bootstrap-theme.css')
  body
 block content
script(src='//code.jquery.com/jquery.js')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src='/bootstrap-3.3.5-dist/js/bootstrap.js')
script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js")
script(src='/javascripts/script.js' type='text/javascript')
