doctype html
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/javascripts/script.js')
    link(rel='stylesheet', href='/stylesheets/style1.css')
  body
    header.cd-header
     div.cd-logo
      img(src="http://www.raftcoloradowhitewater.com/header-red-c.png?c=4-14") 
       
        
      nav.cd-main-nav 
       ul
        li
         a(href="/home") Home
        li
         a(href="/home") White Water Rafting
        li 
         a(href="/home") About Us
        li
         a(href="/home") Area Info
        li
         a(href="/home") Our Friends
        li
         a(href="/booknow") Book Now
   block content