extends ../layout1


block content

   header.cd-header
     div.cd-logo
      img(src="http://www.raftcoloradowhitewater.com/header-red-c.png?c=4-14") 
      
      nav.cd-main-nav 
       ul
        li
         a(href="/albums/home") Home
        li
         a(href="/albums/home") White Water Rafting
        li 
         a(href="/albums/home") About Us
        li
         a(href="/albums/home") Area Info
        li
         a(href="/albums/home") Our Friends
        li
         a(href="/albums/booknow") Book Now

   main.cd-main-content
     div.cd-fixed-bg.cd-bg-1
        h1 A Downstream Adventure Is Just a Few Click Away!
  
    
     div.cd-scrolling-bg.cd-color-2
        div.cd-container
          h2 Book a Whitewater Rafting trip on Clear Creek, near Denver, Colorado
          |Call us toll free on (844) 291-4218 to book over the phone
          |Email us at info@downstreamadventures.com
          |Or complete the simple form below...
         form(action="/albums/booknow", method="post")
          div.fullname
            label Full Name 
            input(type="text" name="fullName")
          div.telephone
            label Telephone 
            input(type="tel" name="telephone")
          div.email
            label Email 
            input(type="email" name="email")
          div.groupsize
            label How Many in Your Group? 
            input(type="number" name="groupsize")
          div.tripType
            label Trip Type 
            br
            input(type="radio" name="tripType" value="beginner")  
            | Middle Clear Creek Class I-II $45
            br
            input(type="radio" name="tripType" value="intermediate")
            | Upper Clear Creek Class III-VI $57
            br
            input(type="radio" name="tripType" value="advance")
            | Lower Clear Creek Class IV(V) $70
            br
            input(type="radio" name="tripType" value="fullday")
            | Full Day Advance I-IV(V) $90
            br
            input(type="radio" name="tripType" value="gore")
            | Full Day Gore Canyon IV-V $120
          div.date
            label Date
            input(type="date" name="date")
          div.comments
            label Comments 
            textarea(name='comments')
          div.submit
            button(type="submit") Submit 

     div.cd-fixed-bg.cd-bg-4
         h2 ©2015 Downstream Adventures. All Rights Reserved.
         | Local: (303) 848-4595 | Toll-Free: (844) 291-4218
         br
         | info@downstreamadventures.com




