extends ../layout1

block content
   header.cd-header
     div.cd-logo
      img(src="http://www.raftcoloradowhitewater.com/header-red-c.png?c=4-14") 
      
      nav.cd-main-nav 
       ul
        li
         a(href="/albums/home") Home
        li
         a(href="/albums/home") White Water Rafting
        li 
         a(href="/albums/home") About Us
        li
         a(href="/albums/home") Area Info
        li
         a(href="/albums/home") Our Friends
        li
         a(href="/albums/home") Book Now
     //- img.second(src="http://www.raftcoloradowhitewater.com/header-cascade.png?c=4-14")

   main.cd-main-content
     div.cd-fixed-bg.cd-bg-1
        h1 Welcome To DownStream Adventure
  
    
     div.cd-scrolling-bg.cd-color-2
        div.cd-container
         |Thank you for visiting Downstream Adventures! We are a small, family-run company of highly skilled 
         |guides. We would love to take you on an adventure down the wild waters of Clear Creek Canyon. We offer a 
         |variety of trip options for all experience levels as well as instruction in trout fishing, inflatable kayaks, and
         |stand up paddle board. Please call now and let us help you decide which adventure is best for you!

     div.cd-fixed-bg.cd-bg-2
        h2 The Wind blows Slowly

     div.cd-scrolling-bg.cd-color-3
        div.cd-container
          p 
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore, modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio 
     div.cd-fixed-bg.cd-bg-3
        h2 The wind is strong and loud

     div.cd-scrolling-bg.cd-color-1
        div.cd-container
          p
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga 
     div.cd-fixed-bg.cd-bg-4
         h2 But never does she stutter