extends ../layout1

block content
   header.cd-header
     div.cd-logo
      img(src="http://www.raftcoloradowhitewater.com/header-red-c.png?c=4-14") 
       
        
      nav.cd-main-nav 
       ul
        li
         a(href="/albums/home") Home
        li
         a(href="/albums/home") White Water Rafting
        li 
         a(href="/albums/home") About Us
        li
         a(href="/albums/home") Area Info
        li
         a(href="/albums/home") Our Friends
        li
         a(href="/albums/booknow") Book Now

   main.cd-main-content
     div.cd-fixed-bg.cd-bg-1
        h1 Welcome To DownStream Adventure
  
    
     div.cd-scrolling-bg.cd-color-2
        div.cd-container
         |Thank you for visiting Downstream Adventures! We are a small, family-run company of highly skilled 
         |guides. We would love to take you on an adventure down the wild waters of Clear Creek Canyon. We offer a 
         |variety of trip options for all experience levels as well as instruction in trout fishing, inflatable kayaks, and
         |stand up paddle board. Please call now and let us help you decide which adventure is best for you!

     div.cd-fixed-bg.cd-bg-2
        h2 This Could Be You!

     div.cd-scrolling-bg.cd-color-3
        div.cd-container
          p 
            |Clear Creek, a tributary of the South Platte River, is the closest rafting destination to Denver and one of the best in the country. It starts at the Continental Divide, draining such famous passes as Loveland, Berthoud, and Guanella. Clear Creek also gathers water from the top of Mt Evans and the year-round snow-fields of St. Mary’s Glacier. All of these sites are easily accessed by visitors, offering breath-taking views and hikes.


     div.cd-fixed-bg.cd-bg-3
        h2 A True Colorado Experience

     div.cd-scrolling-bg.cd-color-1
        div.cd-container
          
         h1 Trips Daily! Book your Colorado Adventure today!
     div.cd-fixed-bg.cd-bg-4
         h2 ©2015 Downstream Adventures. All Rights Reserved.
         | Local: (303) 848-4595 | Toll-Free: (844) 291-4218
         br
         a(href="mailto:info@downstreamadventures.com") info@downstreamadventures.com 