extends ../layout

block content

   h1 New Customer

   form(action="/albums/newBooking", method="post")
     div.fullname
        label Full Name 
        input(type="text" name="fullName")
     div.telephone
        label Telephone 
        input(type="tel" name="telephone")
     div.email
        label Email 
        input(type="email" name="email")
     div.groupsize
        label How Many in Your Group? 
        input(type="number" name="groupsize")
     div.tripType
        label Trip Type 
        br
        input(type="radio" name="tripType" value="beginner")  
        | Middle Clear Creek Class I-II $45
        br
        input(type="radio" name="tripType" value="intermediate")
        | Upper Clear Creek Class III-VI $57
        br
        input(type="radio" name="tripType" value="advance")
        | Lower Clear Creek Class IV(V) $70
        br
        input(type="radio" name="tripType" value="fullday")
        | Full Day Advance I-IV(V) $90
        br
        input(type="radio" name="tripType" value="gore")
        | Full Day Gore Canyon IV-V $120
     div.date
        label Date
        input(type="date" name="date")
        div.comments
        label Comments 
        textarea(name='comments')
     div.submit
        button(type="submit") Submit 